<td class="match__date">{{date}}</td>
<td class="match__time">{{time}}</td>
<td class="match__stadium">{{stadium}}</td>
<td class="match__city">{{city}}</td>
<td class="match__teams">{{home}} &ndash; {{guest}}</td>
<td class="match__results group__border">
	<input class="goals goals--home" type="text" value="{{homeGoals}}" tabindex="{{tabIndex}}" />
	<span class="group__text">|</span>
	<input class="goals goals--guest" type="text" value="{{guestGoals}}" tabindex="{{tabIndex}}" />
</td>
