<td class="match__day">{{day}}</td>
<td class="match__date">{{date}}</td>
<td class="match__time">{{time}}</td>
<td class="match__city stadium-highlightable" data-stadium="{{stadium}}">{{city}}</td>
<td class="match__teams">{{home}}&nbsp;&ndash;&nbsp;{{guest}}</td>
<td class="match__results group__border">
	<input class="goals goals--home" type="number" value="{{homeGoals}}" tabindex="{{tabIndex}}" />
	<span class="group__text">|</span>
	<input class="goals goals--guest" type="number" value="{{guestGoals}}" tabindex="{{tabIndex}}" />
</td>
