<div class="match__id">{{id}}</div>
<div class="match__teams">
	<span class="match__teams--home">{{home}}:</span><span class="match__teams--guest">{{guest}}</span>
</div>
<div class="match__team-fields">
	<div class="team-highlightable" data-team="{{homeName}}"></div>
	<input type="text" class="group__border group__border--home group__border--bottom" disabled id="{{idHome}}" value="{{homeName}}">
	<div class="team-highlightable" data-team="{{guestName}}"></div>
	<input type="text" class="group__border group__border--guest group__border--bottom" disabled id="{{idGuest}}" value="{{guestName}}">
</div>
<div class="match__results match__results--knockout{{isDraw}}">
	<input class="goals goals--home group__border group__border--home group__border--bottom" type="number" value="{{homeGoals}}" tabindex="{{tabIndex}}" />
	<span class="group__text"> : </span>
	<input class="goals goals--guest group__border group__border--guest group__border--bottom" type="number" value="{{guestGoals}}" tabindex="{{tabIndex}}" />
</div>
<div class="cf">
	<div class="match__date">{{date}}</div>
	<div class="match__time">{{time}}</div>
</div>
<span class="match__city stadium-highlightable" data-stadium="{{stadium}}">{{city}}</span>
